.feature-content {
	width: 75%;
}
.feature-content > ul {
  padding: 16px;
  color: #778899;
}
.hero {
    background: url("../img/unsplash/photo-1421757295538-9c80958e75b0.jpg");
}
.blur-overlay {
    background-image: url("../img/unsplash/photo-1421757295538-9c80958e75b0-blur.jpg");
    opacity:0;
}
.hero-content ul li .label {
	font-size: 12px;
	line-height: 28px;
}
.wp2 {
  padding: 10px;
  border-top: 1px solid #e0e5e9;
}
.feature-icon {
	border-color: #778899;
}
.feature-icon i {
  color: #778899;
}
.showcase {
    background: url("../img/unsplash/work-stations-plus-espresso-blur.jpg") no-repeat fixed center center / cover rgba(0, 0, 0, 0);
}
.showcase h1 > img {
	border-radius: 17px;
}
.projects {
    background: url("../img/unsplash/desktop.JPG") no-repeat fixed center center / cover rgba(0, 0, 0, 0);
}
.projects h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    margin: 0 0 15px;
}
.projects-wrap {
    padding: 100px 0;
    position: relative;
}
.projects-detail {
  margin-top: 50px;
  margin-bottom: 50px;
}
.projects-detail .project-wrap {
  padding: 10px;
}
.projects-detail .project {
  padding: 10px;
}
.achievements {
    background: url("../img/unsplash/unsplash-kitsune-31.jpg") no-repeat fixed center center / cover rgba(0, 0, 0, 0);
}
.achievements h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    margin: 0 0 15px;
}
.achievements-wrap {
    padding: 100px 0;
    position: relative;
}
footer {
	padding-bottom: 0;
}
.logo-bt {
    background: url("../img/logo/bt.jpg") no-repeat scroll 2px 2px / 100% auto rgba(0, 0, 0, 0);
}
.logo-atex {
    background: url("../img/logo/atex.svg") no-repeat scroll 1px 20px / 100% auto rgba(0, 0, 0, 0);
}
.logo-cdc {
    background: url("../img/logo/cdc.png") no-repeat scroll 1px 20px / 100% auto rgba(0, 0, 0, 0);
}
.logo-fw {
    background: url("../img/logo/fw.png") no-repeat scroll 1px 31px / 100% auto rgba(0, 0, 0, 0);
}
.logo-infosys {
    background: url("../img/logo/infosys.png") no-repeat scroll 1px 1px / 100% auto rgba(0, 0, 0, 0);
}
.logo-skali {
    background: url("../img/logo/skali.png") no-repeat scroll 5px 20px / 100% auto rgba(0, 0, 0, 0);
}
@media screen and (max-width:640px){
  .use-btn{display:block;}
}
@media screen and (max-width:465px){
  .hero h1{margin-top: 50px;}
  .feature-content{width:100%;text-align:left;}
  .experience-detail > .container > .row > .col-md-12 {padding-left:0;padding-right:0;}
  .projects-detail .project-wrap{border-bottom: 1px solid #e0e5e9;}
}