.d-inline-block {
  display: inline-block;
}

.font-weight-bold {
  font-weight: bold;
}

.rounded {
  border-radius: .25rem!important;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.m-0 {
  margin: 0!important;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.325rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-3 {
  margin-bottom: 1rem;
}

.logo-whatsapp {
  width: 15px;
  height: 15px;
  background: url('/img/logo-whatsapp-48.png') 0 0 / contain no-repeat;
  display: inline-block;
}

.btn-whatsapp {
  background: #01e675;
  background: linear-gradient(45deg,#15B711,#7DFF9C);
  color:white!important;
  font-weight: bold;
}

.feature-content {
  width: 75%;
}

.feature-content>ul {
  padding: 16px; color: #778899;
}

.feature-content>h1>a {
  color: #399399;
}

.hero {
  background: url("../img/unsplash/photo-1421757295538-9c80958e75b0.jpg");
}

.blur-overlay {
  background-image: url("../img/unsplash/photo-1421757295538-9c80958e75b0-blur.jpg"); opacity: 0;
}

.hero-content ul li .label {
  font-size: 12px; line-height: 28px;
}

.wp2 {
  padding: 10px; border-top: 1px solid #e0e5e9;
}

.feature-icon {
  /*border-color: #778899;*/
  border: none;
}

.feature-icon i {
  color: #778899;
}

.education-divider {
  background: url("../img/unsplash/photo-1513151233558-d860c5398176.jpeg") no-repeat fixed center center/cover rgba(0, 0, 0, 0);
}

.education-divider h1 {
  color: #fff; font-size: 40px; font-weight: 400; margin: 0 0 15px;
}

.education-divider-wrap {
  padding: 100px 0; position: relative;
}

.showcase-divider {
  background: url("../img/unsplash/unsplash_525f012329589_1.jpeg") no-repeat fixed center center/cover rgba(0, 0, 0, 0);
}

.showcase-divider h1 {
  color: #fff; font-size: 40px; font-weight: 400; margin: 0 0 15px;
}

.showcase-divider-wrap {
  padding: 100px 0; position: relative;
}

.showcase-divider-detail {
  padding-top: 50px;
}

.showcase-numbers {
  background: url("../img/unsplash-2018-09/photo-1457904375453-3e1fc2fc76f4.png") no-repeat fixed center center/cover rgba(0, 0, 0, 0);
}

.showcase-shapes {
  background: url("../img/unsplash-2018-09/photo-1526456498183-95faff4bf58f.jpeg") no-repeat fixed center center/cover rgba(0, 0, 0, 0);
}

.showcase-matrix {
  background: url("../img/unsplash-2018-09/photo-1526374965328-7f61d4dc18c5.jpeg") no-repeat fixed center center/cover rgba(0, 0, 0, 0);
}

.showcase-water {
  background: url("../img/unsplash/photo-1524096613842-71a8c45f08a2.jpeg") no-repeat fixed center center/cover rgba(0, 0, 0, 0);
}

.showcase-water-2 {
  background: url("../img/unsplash/photo-1501979688843-f636cc420010.jpeg") no-repeat fixed center center/cover rgba(0, 0, 0, 0);
}

.showcase-laptop {
  background: url("../img/unsplash/work-stations-plus-espresso-blur.jpg") no-repeat fixed center center/cover rgba(0, 0, 0, 0);
}

.showcase-lights {
  background: url("../img/unsplash/photo-1516906571665-49af58989c4e.jpeg") no-repeat fixed center center/cover rgba(0, 0, 0, 0);
}

.showcase-wallpaper {
  background: url("../img/unsplash/photo-1498550744921-75f79806b8a7.jpeg") no-repeat fixed center center/cover rgba(0, 0, 0, 0);
}

.showcase h1>img {
  border-radius: 17px;
}

.projects {
  /*background: url("../img/unsplash/desktop.JPG") no-repeat fixed center center/cover rgba(0, 0, 0, 0);*/
  background: url("../img/unsplash/photo-1517134062979-e1234be8a085.jpeg") no-repeat fixed center center/cover rgba(0, 0, 0, 0);
}

.projects h1 {
  color: #fff; font-size: 40px; font-weight: 400; margin: 0 0 15px;
}

.projects-wrap {
  padding: 100px 0; position: relative;
}

.projects-detail {
  margin-top: 50px; margin-bottom: 50px;
}

.projects-detail .project-wrap {
  padding: 10px;
}

.projects-detail .project {
  padding: 10px;
}

.project figure {
  border: 1px solid #e0e5e9;
}

.achievements {
  /*background: url("../img/unsplash/photo-1416339442236-8ceb164046f8-c.jpg") no-repeat fixed center center/cover rgba(0, 0, 0, 0);*/
  background: url("../img/unsplash/photo-1502214722586-9c0a74759710.jpeg") no-repeat fixed center center/cover rgba(0, 0, 0, 0);
}

.achievements h1 {
  color: #fff; font-size: 40px; font-weight: 400; margin: 0 0 15px;
}

.achievements-wrap {
  padding: 100px 0; position: relative;
}

.achievements-detail {
  padding-top: 50px;
}

footer {
  padding-bottom: 0;
}

.logo-freelance {
  background: url("../img/2020/undraw_Designer_by46-crop.png") no-repeat scroll 0px -0px/100% auto rgba(0, 0, 0, 0);
}

.logo-pollen {
  background: url("../img/2019/pollen.png") no-repeat scroll 0px -0px/100% auto rgba(0, 0, 0, 0);
}

.logo-experian {
  background: url("../img/exp/logo-s.jpg") no-repeat scroll 0px -1px/100% auto rgba(0, 0, 0, 0);
}

.logo-merc {
  background: url("../img/logo/merc.jpg") no-repeat scroll 0px -1px/100% auto rgba(0, 0, 0, 0);
}

.logo-bt {
  background: url("../img/logo/bt.jpg") no-repeat scroll 2px 2px/100% auto rgba(0, 0, 0, 0);
}

.logo-atex {
  background: url("../img/logo/atex.svg") no-repeat scroll 1px 20px/100% auto rgba(0, 0, 0, 0);
}

.logo-cdc {
  background: url("../img/logo/cdc.png") no-repeat scroll 1px 20px/100% auto rgba(0, 0, 0, 0);
}

.logo-fw {
  background: url("../img/logo/fw.png") no-repeat scroll 1px 31px/100% auto rgba(0, 0, 0, 0);
}

.logo-infosys {
  background: url("../img/logo/infosys.png") no-repeat scroll 1px 1px/100% auto rgba(0, 0, 0, 0);
}

.logo-skali {
  background: url("../img/logo/skali.png") no-repeat scroll 5px 20px/100% auto rgba(0, 0, 0, 0);
}

.download-appstore-btn {
  margin-top: 25px;
  display: inline-block;
  background: url("../img/download-appstore.svg") no-repeat;
  background-size: contain;
  display: inline-block;
  padding: 18px 46px;
  width: 180px;
  height: 60px;
}

.download-appstore-btn-alt {
  background: url("../img/download-appstore-alt.svg") no-repeat;
  background-size: contain;
}

.app-icon {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: .5rem;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.app-list > a {
  color: #428bca;
}

.d-block {
  display: block;
}

.mb-1 {
  margin-bottom: .25rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.mr-3 {
  margin-right: 1rem;
}

.nowrap {
  white-space: nowrap;
}

@media screen and (max-width:640px) {
  .use-btn {
    display: block;
  }
}

@media screen and (max-width:465px) {
  .hero h1 {
    margin-top: 50px;
  }
  .feature-content {
    width: 100%; text-align: left;
  }
  .experience-detail>.container>.row>.col-md-12 {
    padding-left: 0; padding-right: 0;
  }
  .projects-detail .project-wrap {
    border-bottom: 1px solid #e0e5e9;
  }
  .projects-detail .project-wrap:last-child {
    border-bottom: none;
  }
  .achievements-detail {
    padding-top: 16px;
  }
}

@media screen and (max-width:991px){
	.hide-on-small-width {display:none;}
}
