.feature-content {
	width: 75%;
}
.feature-content > ul {
	padding: 16px;
  color: #778899;
}
.hero {
    background: url("../img/unsplash/photo-1421757295538-9c80958e75b0.jpg");
}
.showcase {
    background: url("../img/unsplash/work-stations-plus-espresso-blur.jpg") no-repeat fixed center center / cover rgba(0, 0, 0, 0);
}
.feature-icon {
	border-color: #778899;
}
.feature-icon i {
  color: #778899;
}
.showcase h1 > img {
	border-radius: 17px;
}
.projects {
    background: url("../img/unsplash/desktop.JPG") no-repeat fixed center center / cover rgba(0, 0, 0, 0);
}
.projects h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    margin: 0 0 15px;
}
.projects-wrap {
    padding: 100px 0;
    position: relative;
}
.achievements {
    background: url("../img/unsplash/unsplash-kitsune-31.jpg") no-repeat fixed center center / cover rgba(0, 0, 0, 0);
}
.achievements h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    margin: 0 0 15px;
}
.achievements-wrap {
    padding: 100px 0;
    position: relative;
}