<div class="row max-height">
  <div class="col-xs-12 max-height">

    <div class="row">
      <div class="col-lg-12">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="ctrl.key" ng-change="ctrl.set('key',ctrl.key)" />
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit" ng-click="ctrl.encrypt()">
              <span class="glyphicon glyphicon-eye-close"></span> Encrypt it!
            </button>
          </span>
        </div>
      </div>
    </div>

    <div class="row max-height">
      <div class="col-xs-12 max-height">
        <div class="col-xs-4 max-height no-padding">
          <textarea class="form-control" ng-model="ctrl.input" ng-change="ctrl.set('input',ctrl.input)"></textarea>
        </div>
        <div class="col-xs-4 max-height">
          <div markdown-it="ctrl.input"></div>
        </div>
        <div class="col-xs-4 max-height no-padding encrypted">
          <button ng-if="ctrl.focus"
                ngclipboard
                data-clipboard-target="#result"
                class="btn btn-primary"
                type="submit"
                ng-click="ctrl.copyToClipboard()">
            <span class="glyphicon glyphicon-copy"></span> Copy
          </button>
          <textarea id="result" class="form-control cursor-auto"
            ng-model="ctrl.result"
            ng-focus="ctrl.focus=true"
            readonly></textarea>
        </div>
      </div>
    </div>

  </div>
</div>
