<div class="row" ng-init="ctrl._initBody()">
  <div class="col-xs-12 home">
    <button class="btn btn-default pull-right open-key-modal" type="button" ng-click="ctrl.openModal()">
      <span class="glyphicon glyphicon-eye-open"></span>
    </button>

    <div class="row show-grid" ng-hide="ctrl.valid">
      <div class="col-xs-12 break-word"  ng-repeat="r in ctrl.records track by $index">
        {{r}}
      </div>
    </div>

    <div class="row" ng-show="ctrl.valid">
      <div class="col-xs-12">
        <div class="row show-grid row-bordered" ng-repeat="d in ctrl.dRecords track by $index">
          <div class="col-xs-12" markdown-it="d">
          </div>
        </div>
      </div>
    </div>

    <!--<div class="row" ng-hide="ctrl.decrypted">
      <div class="col-xs-12" markdown-it="ctrl.val">
      </div>
    </div>
    <div class="row" ng-show="ctrl.decrypted">
      <div class="col-xs-12" markdown-it="ctrl.decrypted">
      </div>
    </div>-->
  </div>
</div>
