<div class="row">
  <div class="col-lg-6">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" ng-model="ctrl.input" ng-change="ctrl.set('input',ctrl.input)">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" ng-model="ctrl.result" ng-change="ctrl.set('result',ctrl.result)">
      </div>
      <button ng-hide="true" class="btn btn-primary btn-block" type="submit" ng-click="ctrl.save(ctrl.input)">
        <span class="glyphicon glyphicon-floppy-disk"></span>
      </button>
    </form>
  </div>
  <div class="col-lg-6">
    <div class="list-group">
      <a ng-repeat="entry in ctrl.saved track by $index" href="" class="list-group-item" ng-click="ctrl.set('input',entry)">{{ entry }}
        <button class="btn btn-danger btn-xs pull-right" ng-click="ctrl.remove(entry)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </a>
    </div>
  </div>
</div>