html, body, .container {
  height: 100%;
}
textarea.form-control {
  height: 100%;
}
.max-height {
  height: 100%;
}
.no-padding {
  padding: 0;
}
.cursor-auto {
  cursor: auto !important;
}

// encrypted
div.encrypted {
  display:inline-block;
  position:relative;
}
.encrypted > button {
  position:absolute;
  top:10px;
  right:10px;
}
.encrypted > textarea {
  display:block;
}
.encrypted > .alert {
  position:absolute;
  top:10px;
  right:10px;
}
