body { padding-top: 70px; }
html, body, .container {
  height: 100%;
}
textarea.form-control {
  height: 100%;
}
.max-height {
  height: 100%;
}
.no-padding {
  padding: 0;
}
.cursor-auto {
  cursor: auto !important;
}
.show-grid {
  margin-bottom: 15px;
}

/* encrypted */
div.encrypted {
  display:inline-block;
  position:relative;
}
.encrypted > button {
  position:absolute;
  top:10px;
  right:10px;
}
.encrypted > textarea {
  display:block;
}
.encrypted > .alert {
  position:absolute;
  top:10px;
  right:10px;
}

.copy-container > .alert {
  position:absolute;
  top:0;
  right:50%;
}

/* preview */
.preview > p {
  word-wrap:break-word;
}
